table {
    border: 2px solid gray;
    width: 100%;
    font-size: x-large;
    margin-bottom: 2rem;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    border-bottom: 1px solid black;
    text-align: left;
    border-right: 2px solid gray;
    padding: 0.2rem;
}

td {
    border-right: 2px solid gray;
    padding: 0.2rem;
}

.page-container {
    flex: 1;
}

.todo-table .table-id, .todo-table .table-price {
    width: 5%;
}

.todo-table .table-date {
    width: 15%;
}

.todo-table .table-status {
    width: 12.5%;
}

.todo-table .table-client {
    width: 25%;
}

.todo-table .table-description {
    width: auto;
}

.row-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.expand-button {
    padding: 0.5rem;
    font-size: x-large; 

}

.completed-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.not-started {
    background-color: #e74c3c;
    color: white;
}

.started {
    background-color: #f1c40f;
}

.complete {
    background-color: #2ecc71;
    color: white;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #e0e0e0;
}


